.main-page {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .main-page-image {
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    z-index: -1;
    margin-bottom: -100px;
  }
  
  .main-page-row {
    display: flex;
    z-index: 1;
    margin-left: 5px;
    margin-right: 5px;
  }

.job_tracker_title{
  display: flex;
  justify-content: center;
  margin-top: -500px;
  z-index: 50
}